@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.purple {
    color: #6415ff;
}

#landing {
    height: 100vh;
}

.landing {
    padding: 32px 32px 96px;
}

.container,
.quality__row,
.started__row,
.values__row,
.pricing__row,
.testi__row,
.subscribe__container {
    padding: 96px 32px;
}


main {
    padding: 32px;
    overflow-x: hidden;
}

.row__header {
    margin-bottom: 32px;
}
/*NAV*/

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 24px;
}

.nav__link--anchor {
    color: #243E63;
    font-size: 14px;
    font-weight: bold;
}

.nav__link .nav__link--anchor:hover {
    color: #6415ff;
    text-decoration: underline #6415ff;    
    text-underline-offset: 10px;
    transition: all 400ms ease;
}

.logo {
    width: 40px;
    height: auto;
    margin-right: 12px;
}

.nav__logo--link {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 24px;
    color: #243E63;
}

.nav__logo--link:hover {
    color: #6415ff;
}

.nav__link--signup {
    border-radius: 50px;
    padding: 12px 32px;
    margin: 0;
    background-color: #6415ff;
    font-weight: bold;
    color: #fff;
}

.nav__link--signup:hover {
    background-color: #5512d9;
}

/*BUTTON MENU*/

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #6415ff;
    display: none;
}

.menu__backdrop {
    position: absolute;
    background-color: #fff;
    margin: 24px 16px;
    padding: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    max-height: 550px;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: all 300ms ease;
    opacity: 0;
}


.menu--open .menu__backdrop {
   visibility: visible;
   opacity: 1;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 32px 0;
}

.menu__list {
    font-size: 1.125rem;
    font-weight: 600;
}


.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: #6415ff;
}

/*HEADER*/

.header__description{
    display: flex;
    width: 100%;
    padding-top: 96px;
    align-items: center;
    justify-content: center;
}

.header__leftside {
    width: 40%;
}

.header__leftside--para {
    font-size: 16px;
    color: #243E63;
    margin: 32px 0;
}

.header__mail-registration--input {
    display: flex;
    position: relative;
    display: inline-block;
}

.header__input:focus {
    outline: transparent solid 2px;
    outline-offset: 2px;
    border-color: #6415ff;
}

.header__input {
    width: 100%;
    padding: 20px 192px 20px 32px;
    border-radius: 50px;
    font-weight: 500;
    border: 2px solid #e5e7eb;
    transition-property: border-color;
    transition-duration: 300ms;
    transition: all 300ms ease;

}

.header__input:hover {
    border-color: rgb(160, 174, 192);
}

.btn__header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    background-color: #6415FF;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 8px 8px 8px 0;
    padding: 16px 0;
    border-radius: 9999px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    width: 160px;
}

.btn__header:hover {
    background-color: #3c0d99;
    cursor: not-allowed;
}

.header__leftside-down--container {
    margin: 80px 0 0;
}

.header__description-customer--para {
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
}

.header__leftside--illustration {
    width: 100%;
    height: 27px;
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}

.header__rightside {
    width: 60%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.header__title--description {
    font-size: 48px;
    font-weight: 700;
}

.header__rightside--figure {
    display: flex;
    justify-content: flex-end;
}

.header__rightside--illustration {
    width: 100%;
    max-width: 100%;
}


/*FEATURES*/

.feature__title--description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.feature__first-title--description {
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 16px;
}

.feature__second-title--description {
    font-size: 48px;
    font-weight: 900;
    color: #243e63;
}

.features__para {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.625;
    color: #7c8ba1;
    margin: 16px 0 0;
}

.services {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
    justify-content: center;
}

.service {
    display: flex;
    width: calc(100%/3);
    padding: 32px 24px;
    text-align: left;
}

.service__img {
    padding: 20px;
    border: 2px solid #e5e7eb;
    border-radius: 99px;
    text-align: center;
}

.service__description {
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 16px;
}

.service__title--description {
    color: #243E63;
    font-size: 24px;
    font-weight: 700;
}

.service__para--description {
    font-size: 16px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 2;
}


/*QUALITY*/

.quality__row {
    display: flex;
}

.quality__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-right: 64px;
}

.features__tag {
    letter-spacing: 0.1em;
    font-weight: 700;
    color: rgba(100, 21, 255, 1);
    margin-bottom: 16px;
}

.quality__title--description {
    font-size: 48px;
    font-weight: 900;
    color: #243E63;
    margin: 16px 0 0;
}

.quality__para--description {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.625;
    color: #7c8ba1;
    margin: 16px 0 0;
}

.quality__btn {
    font-size: 14px;
    font-weight: 500;
    background-color: #6415FF;
    color: white;
    border-radius: 99px;
    margin: 32px 0 0;
    padding: 12px 32px;
    width: 150px;
}

.quality__btn:hover {
    background-color: #5011cc;
}

.quality__right {
    width: 50%;
}

.quality__illustration {
    width: 100%;
}

/*STARTED*/

.started__row {
    display: flex;
}

.started__leftside {
    width: 50%;
}

.started__illustration {
    width: 100%;
}

.started__rightside {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 64px;
}

.started__subtitle {
    font-size: 16px;
    font-weight: 700;
}

.started__title--description {
    margin-top: 16px;
    font-size: 48px;
    font-weight: 900;
    color: #243E63;
}

.number__containers {
    display: flex;
    flex-direction: column;
    margin: 12px;
}

.numbers {
    font-size: 36px;
    font-weight: 600;
    color: #cbd5e0;
}

.numbe {
    margin-top: 4px;
}

.rightside__container--description {
    margin-left: 24px;
}

.subtitle__description {
    font-size: 20px;
    font-weight: 600;
    color: #243E63;
}

.para__description {
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
    color: #718096;
}

.affordable,  {
    display: flex;
}

.professionalism {
    display: flex;
}

/*VALUES*/

.values__row {
    display: flex;
}

.values__leftside {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 64px;
}

.values__subtitle {
    font-size: 16px;
    font-weight: 700;
}

.values__titles--description {
    margin-top: 16px;
    font-size: 48px;
    font-weight: 900;
    color: #243E63;
}

.values__para {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.625;
    color: #7c8ba1;
    margin: 16px 0 0;
}

.values__container {
    display: flex;
}

.value__title--description {
    font-size: 20px;
    font-weight: 700;
    color: #243E63;
    margin-left: 16px;
}

.value__para--description {
    font-size: 16px;
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}

.value__affordable {
    margin: 32px 32px 0 0;
}

.value__professionalism {
    margin-top: 32px;
}

.value__subcontainers {
    display: flex;
    align-items: center;
}

.fa-dollar-sign {
    color: rgb(39, 103, 73);
    background-color: rgb(154, 230, 180);
    border-radius: 9999px;
    padding: 8px;
}

.fa-suitcase {
    color: rgb(155, 44, 44);
    background-color: rgb(254, 178, 178);
    border-radius: 50px;
    padding: 8px;
}

.values__btn {
    font-size: 14px;
    font-weight: 500;
    background-color: #6415FF;
    color: white;
    border-radius: 99px;
    margin: 32px 0 0;
    padding: 12px 32px;
    width: 150px;
}

.values__btn:hover {
    background-color: #5011cc;
    cursor: not-allowed;
}

.values__rightside {
    width: 50%;
}

.values__illustration {
    width: 100%;
}

/*PRICING*/

.pricing__description {
    text-align: center;
}

.pricing__subtitle {
    font-size: 16px;
    font-weight: 700;
}

.pricing__title--description {
    margin-top: 16px;
    font-size: 48px;
    font-weight: 900;
    color: #243E63;
}

.pricing__para--description {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.625;
    color: #7c8ba1;
    margin: 16px 0 0;
}

.plans {
    display: flex;
    justify-content: center;
}

.plan {
    width: calc(100%/3);
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    position: relative;
    margin: 64px 32px 0 0;
}


.plan__blue--container {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan__title,
.plan__cost,
.plan__middle--title {
    color: #F7FAFC;
}

.plan__duration {
    color: #edf2f7;
}

.plan__content {
    color: #ede8f0;
}

.plan__btn--white {
    color: #6415FF;
    background-color: #F7FAFC;
}

.plan__green--gradient,
.plan__red--gradient {
    height: 8px;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

.plan__green--gradient {    
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__red--gradient {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 32px 0;
    border-bottom: 1px solid #e5e7eb;
}

.plan__title--common,
.plan__title {
    font-size: 20px;
    font-weight: 700;
}


.plan__cost--common,
.plan__cost {
    font-size: 48px;
    font-weight: 700;
    margin: 4px 0;
}

.plan__duration--common,
.plan__duration {
    font-size: 16px;
    font-weight: 700;
}

.plan__duration--common {
    color: #a0aec0;
}

.plan__middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 32px;
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
}

.plan__middle-title--common, .plan__middle--title {
    font-size: 20px;
    font-weight: 700;
}

.plan__content--common, .plan__content, .plan__content--middle {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.plan__content--common {    
    color: #718096;
}

.plan__bottom {
    width: 100%;
    padding: 32px 64px;
    text-align: center;
    border-top: 1px solid #e5e7eb;
}

.plan__btn,
.plan__btn--red,
.plan__btn--white {
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 99px;
    padding: 16px 32px;
    cursor: pointer;
    transition: transform 300ms ease, box-shadow 300ms ease;
}

.plan__btn:hover,
.plan__btn--red:hover,
.plan__btn--white:hover {
    transform: translate(2px, -2px);
    box-shadow: 0px 5px 10px rgba(70, 70, 70, 0.4);
    cursor: not-allowed;
}

.plan__btn--white:hover {
    background-color: #d3dbe0;
}


.plan__btn,
.plan__btn--red {
    color: white;
}

.plan__btn {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__btn--red {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/*TESTIMONIALS*/

.testi__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.testi__left {
    width: 50%;
}

.testi__illustration {
    width: 100%;
}

.testi__right {
    width: 50%;
    padding-left: 64px;
}

.testi__subtitle {
    font-size: 16px;
    font-weight: 700;
}

.testi__title--description {
    color: #243e63;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.4px;
    margin-top: 16px;
}

.testi__para--description {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
    margin-top: 24px;
}

.testi__stars {
    display: flex;
    margin-top: 40px;
    color: #fabf2a;
    width: 20px;
}

.fa-solid, .fa-star {
    margin-left: 3px;
}

.testi__subtitle--bottom {
    font-size: 20px;
    margin-top: 16px;
    color: #243e63;
}

blockquote {
    font-size: 16px;
    font-weight: 500;
    color: #4a5558;
    margin: 16px 0 40px 0;
}

.test__bottom--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.testi__identity--container {
    display: flex;
}

.testi__pp {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.testi__name--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 24px;
}

.testi__name {
    font-size: 20px;
    font-weight: 700;
    color: #243E63;
}

.testi__job--description {
    font-size: 16px;
    font-weight: 500;
    color: #7c8ba1;
}

.testi__arrows--switcher {
    display: flex;
}

.testi__left--btn, .testi__right--btn {
    margin: 0 12px;
    padding: 16px;
    background-color: rgb(237, 242, 247);
    border: none;
    border-radius: 50px;
    transition: all 300ms ease;
    cursor: pointer;    
}

.testi__left--btn:hover, .testi__right--btn:hover {
    background-color: #e2e8f0;
    cursor: not-allowed;
}

.fa-arrow-right, .fa-arrow-left {
    width: 16px;
    height: 16px;    
    color: #6415ff;
}

.testi__divider {
    margin: 12px 0;
    border-right: 1px #a0aec0 solid;
    opacity: 0.25;
}

/*SUBSCRIBE*/

.subscribe__container {
    margin: 0 107px;
}

.subscribe__description {
    display: flex;
    justify-content: space-between;
    padding: 96px 32px;
    border-radius: 8px;
    background-color: #6415FF;
}

.subscribe__title {
    display: flex;
    align-content: center;
    justify-content: center;
    max-width: 500px;
    padding-left: 50px;
    font-size: 30px;
    font-weight: 700;
    color: #F7FAFC;
}

.subscribe__buttons {
    display: flex;
    justify-content: center;
    padding-right: 50px;
}

.subsribe__left--btn, .subscribe__right--btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    border: none;
    border-radius: 50px;
    transition: all 300ms ease;
    cursor: pointer;   
}

.subsribe__left--btn {
    margin-right: 32px;
    background-color: #f56565;
    font-size: 16px;
    font-weight: 700;
    color: #F7FAFC;
}

.subscribe__right--btn {
    border: 1px solid #F7FAFC;
    font-size: 16px;
    font-weight: 700;
    color: #F7FAFC;
}

.subsribe__left--btn:hover {
    background-color: #e53e3e;
}

.subscribe__right--btn:hover {
    background-color: #fff;
    color: #6415ff;
}

/*FOOTER*/

.footer__container {
    background-color: #6415FF;
}

.footer__container---all {
    padding: 48px 50px 48px 50px;
}

.footer__top {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.footer__links--container {
    width: calc(100%/5);
    margin-top: 48px;
    padding: 0 16px;
}

.footer__title {
    font-size: 16px;
    font-weight: 700;
    color: #F7FAFC;
}

.footer__list {
    margin-top: 24px;
}

.footer__links {
    margin-top: 12px;
}

.footer__link {
    color: #F7FAFC;
}

.footer__link:hover {
    text-decoration: underline white;    
    text-underline-offset: 10px;
}

.footer__divider {
    margin: 64px 0;
    border-bottom: 2px#742cff solid;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
}

.footer__bottom--link {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.footer__logo--illustration {
    width: 32px;
    height: 32px;
}

.footer__logo--title {
    margin-left: 8px;
    color: #F7FAFC;
    font-size: 20px;
    font-weight: 900;
}

.footer__para--description {
    font-size: 16px;
    font-weight: 500;
    color: #cbd5e0;
}

.footer__social--medias {
    display: flex;
}

.footer__social-media--margin {
    margin-right: 16px;
}

.footer__social-media {
    width: 32px;
    height: 32px;
    padding: 8px;
    color: black;
    background-color: #F7FAFC;
    border-radius: 50px;
    cursor: not-allowed;
}

.footer__social-media:hover {
    background-color: #c4ccd8;
}





@media (max-width: 861px) {
    .nav__link--list {
        display: none;
    }

    .btn__menu {
        display: block;
        cursor: pointer;
    }

    .menu__links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav__link {
        margin: 26px 0;
        padding: 0 0 4px
    }

    .nav__link--anchor {
        font-size: 18px;
        color: #1a202c;
    }

    .header__description, .plans, .subscribe__description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__leftside {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .header__leftside--illustration {
        padding: 0 50px;
    }

    .header__rightside {
        padding-top: 48px;
    }

    .header__title--description {
        font-size: 30px;
    }

    .service {
        width: calc(100%/2);
    }

    .quality__row, .started__row, .values__row, .pricing__row, .testi__row {
        padding: 96px 32px;
    }

    .quality__description {
        padding: 0;
        margin-right: 48px;
    }

    .quality__right {
        display: flex;
        align-items: center;
    }

    .feature__second-title--description, 
    .values__titles--description, 
    .quality__title--description, 
    .started__title--description, 
    .pricing__title--description, 
    .testi__title--description, {
        font-size: 36px;
    }

    .features__para, 
    .quality__para--description, 
    .values__para, .pricing__para--description, 
    .testi__para--description {
        font-size: 16px;
    }

    .started__lefside,
    .values__rightside,
    .testi__left {
        display: flex;
        align-items: center;
    }

    .values__container {
        display: flex;
        flex-direction: column;
    }


}





